= form_for @diner do |f|
  - if @diner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@diner.errors.count, "error")} prohibited this diner from being saved:"
      %ul
        - @diner.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Name"
    = f.text_field :name
  .field
    = f.label "Straße"
    = f.text_field :street
  .field
    = f.label "Hausnummer"
    = f.text_field :number
  .field
    = f.label "PLZ"
    = f.text_field :zipcode
  .field
    = f.label "Stadt"
    = f.text_field :city
  .field
    = f.label "Webseite"
    = f.text_field :url
  .field
    = f.label "Öffnungszeiten"
    = f.text_area :time
  .field
    = f.label "Telefonnummer"
    = f.text_field :phone
  .field
    = f.label "Art"
    = f.collection_select :diner_type_id, DinerType.all, :id, :name, { selected: @diner.diner_type_id }, { multiple: false }
  .field
    = f.label "Google Maps"
    = f.text_field :urlmaps
  .actions
    = f.submit 'Speichern'
