%h1 Deine Diners

%table.table.table-striped
  %tr
    %th Name
    %th Straße
    %th Stadt
    %th
    %th
    %th

  - @diners.each do |diner|
    %tr
      %td= diner.name
      %td= diner.street
      %td= diner.city
      %td.icon-list= link_to ' Detailansicht', diner
      %td.icon-repeat= link_to ' Bearbeiten', edit_diner_path(diner)
      %td.icon-remove-sign= link_to ' Entfernen', diner, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Neues Diner anlegen', new_diner_path, :class => "btn"