%h1 Deine Diners

%form.form-inline
  %p
    %select.span3{:name => "type_search"}
      %option{:value => "-1"} Wähle eine Dinerart
      - d = DinerType.order('name ASC').all
      - d.each do |type|      
        %option{:value => type.id} 
          = type.name
    %button.btn{:type => "submit"} Filtern

%table.table.table-striped
  %tr
    %th Name
    %th Straße
    %th Stadt
    - if can?(:read, Diner)
      %th
    - if can?(:update, Diner)
      %th
    - if can?(:delete, Diner)
      %th

  - @diners.each do |diner|
    %tr
      %td= diner.name
      %td= diner.street
      %td= diner.city
      - if can?(:read, Diner)
        %td.icon-list= link_to ' Detailansicht', diner
      - if can?(:update, Diner)
        %td.icon-repeat= link_to ' Bearbeiten', edit_diner_path(diner)
      - if can?(:delete, Diner)
        %td.icon-remove-sign= link_to ' Entfernen', diner, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if can?(:create, Event)
  = link_to 'Neues Diner anlegen', new_diner_path, :class => "btn"
