%p#notice= notice

%h1 
  =@diner.name
%p
  %b Straße:
  = @diner.street
%p
  %b Hausnummer:
  = @diner.number
%p
  %b PLZ:
  = @diner.zipcode
%p
  %b Stadt:
  = @diner.city
%p
  %b Webseite:
  = @diner.url
%p
  %b Öffnungszeiten:
  = @diner.time
%p
  %b Telefonnummer:
  = @diner.phone
%p
  %b Art des Diners:
  = @diner.diner_type.try(:name)
%p
  %b Art der Gerichte:
  - @diner.mealtypes.each do |mealtype|
    = mealtype.name
%p
  %iframe{ width: 600, height: 400, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidht: 0, src: iframe_urls(@diner) }

= link_to 'Ändern', edit_diner_path(@diner)
\|
= link_to 'Zurück', diners_path
