= form_for(@event, :html => { :class => 'form-horizontal' }) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field.form-inline.muted
    = f.label 'erstellt von '
    - if @event.user != nil 
      = f.label @event.user.try(:username) 
    -else
      = f.label current_user.username 

  %div.control-group
  .field
    = f.label 'Diner', :class => 'control-label'
    %div.controls
    = f.collection_select :diner_id, Diner.order('name ASC').all, :id, :name, { selected: @event.diner_id }, { multiple: false }
  %div.control-group
  .field
    = f.label 'Uhrzeit', :class => 'control-label'
    %div.controls
    = f.time_select :dtime
  %div.control-group 
  .field
    = f.label "Teilnehmer", :class => 'control-label'
    %div.controls
    - @event.users.each do |user|
      = user.username
    
  %div.control-group 
  .actions
    = f.submit 'Speichern' 
