%h1 Deine Events

%table.table.table-hover
  %tr
    %th Diner
    %th Uhrzeit
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.diner.name
      %td= event.dtime
      %td= link_to 'Detailansicht', event
      %td= link_to 'Bearbeiten', edit_event_path(event)
      %td= link_to 'Entfernen', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Neues Event anlegen', new_event_path
