%p#notice= notice
%h1 Event

%p
  - if can?(:update, @event)
    = link_to ' Am Event teilnehmen', participate_event_path(@event.id), :method => :post, :class => "btn"

%p
  %b Diner:
  = @event.diner.name
%p
  %b Uhrzeit:
  = @event.dtime
%p
  %b Ersteller:  
  = @event.user.username
%p
  %b Teilnehmer:
  - @event.users.each do |user|
    = user.username 
%p
  %iframe{ width: 600, height: 400, frameborder: 0, scrolling: 'no', marginheight: 0, marginwidth: 0, src: iframe_url(@event) }

%p
- if can?(:update, @event)
  = link_to 'Ändern', edit_event_path(@event)
  \|
= link_to 'Zurück', events_path
